* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#items-wrapper {
  width: 100vw;
}

#items {
  display: flex;

  overflow-x: auto;
}

.item {
  flex: none;
}

img {
  width: 100%;
  height: 100%;
}