@import url('https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}

html, body {
    background-color: #fdea0a;
    font-family: 'Montserrat', sans-serif;
}

textarea::-moz-placeholder {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}